[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "2.4"
transformers = "4.45"
sentencepiece = "0.2"
accelerate = "0.34"

[dev-packages]

[requires]
python_version = "3.12"
